<% if @channel.errors.any? %>
  <div class="bs-callout bs-callout-danger" id="error_explanation">
  <h4><%= pluralize(@channel.errors.count, "error") %> prohibited this article from being saved:</h4>
  <ul>
    <% @channel.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
</div>
<% end %>
<%= form_for @channel do |f| %>
  <table class="table">
      <tbody>
        <tr>
          <td><%= f.label :id %></td>
          <td><%= f.text_field :id, :disabled=>true %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :name %></td>
          <td><%= f.text_field :name, :placeholder=>"Channel Name ..." %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :short_name %></td>
          <td><%= f.text_field :short_name, :placeholder=>"Channel Short Name ..." %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :tag %></td>
          <td><%= f.text_field :tag, :placeholder=>"Channel Tag ..." %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :black_flag %></td>
          <td><%= f.check_box :black_flag %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :four_k_flag %></td>
          <td><%= f.check_box :four_k_flag %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :default_sport %></td>
          <td><%= f.text_field :default_sport, :placeholder=>"Default Sport ..." %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :provider_id %></td>
          <td><%= f.collection_select(:provider_id, Provider.all, :id, :name, {include_blank: true}) %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :channel_hash %></td>
          <td><%= f.text_field :channel_hash, :placeholder=>"Channel Hash ..." %></td>
          <td></td>
        </tr>
      </tbody>
  </table>
  <p>
    <%= render "shared/form_actions", locals: {actions: ["Submit","Cancel"], cancel_path: channels_path} %>
  </p>
<% end %>
 