<% unless defined?(locals[:header]).nil? %>
<h4><%= locals[:header] %></h4>
<% end %>
<div class="table-responsive small">
  <table class="table table-condensed table-stretched">
    <thead>
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Name</th>
        <th>Short name</th>
        <th>Tag</th>
        <th>Provider</th>
        <th>Default Sport</th>
        <th>Black Flag</th>
        <th>Region Count</th>
        <th>Broadcast Service Count</th>
        <th>Broadcast Event Count</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
  
    <tbody>
      <% @channels.each do |channel| %>
        <tr id="channel_<%= channel.id %>">
          <td class="vert-align"><%= channel.id %></td>
          <td class="vert-align"><%= image_tag("/images/channels/" + channel.tag + "_65x30.png", size: "65x30", alt: "channel " + channel.name + " image") %></td>
          <td class="vert-align"><%= link_to channel.name, channel %></td>
          <td class="vert-align"><%= link_to channel.short_name, ("/channels-by-short-name/"+channel.short_name.parameterize).html_safe %>  </td>
          <td class="vert-align"><%= channel.tag %></td>
          <td class="vert-align"><%= channel.provider.name unless channel.provider.nil? %></td>
          <td class="vert-align"><%= channel.default_sport %></td>
          <td class="vert-align">
          <% if channel.black_flag? %>
            <%= link_to set_black_flag_off_channel_path(channel), :method => :put do %>
              <i class="glyphicon glyphicon-star"></i>
            <% end %>
          <% else %>
            <%= link_to set_black_flag_on_channel_path(channel), :method => :put do %>
              <i class="glyphicon glyphicon-star-empty"></i>
            <% end %>
          <% end %>
          </td>
          <td class="vert-align"><%= channel.regions.count %></td>
          <td class="vert-align"><%= channel.broadcast_services.count %></td>
          <td class="vert-align"><%= channel.broadcast_events.count %></td>
          <td class="vert-align"><%= render "shared/form_actions", locals: {actions: ["Edit"], edit_path: edit_channel_path(channel)} %></td>
          <td class="vert-align"><%= render "shared/form_actions", locals: {actions: ["Delete"], delete_path: channel} %></td>    
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
