<%= render "shared/navbar" %>
<%= render "shared/breadcrumb",
locals: {
   active_level: 2,
   level_0_name: "Home Icon",
   level_0_link: root_path,
   level_1_name: "Programs By Category",
   level_1_link: program_categories_path,
   level_2_name:"Category: " + params[:id],
   level_2_link: nil
   }
%>
<div class="container">
  <div class="row">
    <div class="col-lg-9">          
      <%= render "shared/flash" %>
      <%= render "shared/content_header", locals: {header: "Category: " + params[:id]}  %>
      <%= render "programs/table_index", locals: {field_list: ["id", "title", "subtitle", "category", "region", "sport", "channel"]} %>
    </div><!-- /col-lg-9 -->
    <div class="col-lg-3">
      <%= render "shared/sidebar" %>
    </div><!-- /col-lg-3 -->
  </div><!-- /row -->
</div> <!-- /container -->
<%= render "shared/footer" %>
