<% chart_name = locals[:chart_name] %>
<% canvas_id = locals[:canvas_id] %>
<% canvas_width = 200 %>
<% canvas_height = 100 %>
<% x_axis_label = "Time" %>
<% y_axis_label = "Events" %>
<% series_type = "Sport" %>
<% chart_colors = ['rgb(230, 25, 75)', 'rgb(60, 180, 75)', 'rgb(255, 225, 25)', 'rgb(0, 130, 200)', 'rgb(245, 130, 48)', 'rgb(145, 30, 180)', 'rgb(70, 240, 240)', 'rgb(240, 50, 230)', 'rgb(210, 245, 60)', 'rgb(250, 190, 190)', 'rgb(0, 128, 128)', 'rgb(230, 190, 255)', 'rgb(170, 110, 40)', 'rgb(255, 250, 200)', 'rgb(128, 0, 0)', 'rgb(170, 255, 195)', 'rgb(128, 128, 0)', 'rgb(255, 215, 180)', 'rgb(0, 0, 128)', 'rgb(128, 128, 128)', 'rgb(255, 255, 255)', 'rgb(0, 0, 0)'] %>

<div class="chart-container">
  <canvas id="<%= canvas_id %>" width="<%= canvas_width %>" height="<%= canvas_height %>"></canvas>
  <script>
	var config = {
			type: 'line',
			data: {
				labels: [
					<% locals[:data_labels].each_with_index do |data_label, i| %>
						'<%= data_label %>'<%= ',' if i < (locals[:data_labels].size - 1) %>
					<% end %>
					],
				datasets: [
					<% locals[:data_series_names].each_with_index do |data_series_name, i| %>
					{
					label: '<%= data_series_name %>',
					backgroundColor: '<%= chart_colors[i-1] %>',
					borderColor: '<%= chart_colors[i-1] %>',
					fill: false,
					data: [
					<% locals[:data_labels].each_with_index do |data_label, j| %>
						<%= locals[:data_series][[data_series_name, data_label]] %><%= ',' if j < (locals[:data_labels].size - 1) %>
					<% end %>
						],
					}<%= ',' if i < (locals[:data_series_names].size - 1) %>
					<% end %>
				]
			},
			options: {
				responsive: true,
                title: {
                <% if chart_name == "" %>
                    display: false
                <% else %>
					display: true,
                    position: 'top',
					text: '<%= chart_name %>'
                <% end %>
				},
                legend: {
                    display: false
                },
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
                        display: true,
						scaleLabel: {
						<% if x_axis_label == "" %>
							display: false
						<% else %>
							display: true,
							labelString: '<%= x_axis_label %>'
						<% end %>
						}
					}],
					yAxes: [{
                        display: true,
						ticks: {
                			beginAtZero: true
            			},
						scaleLabel: {
						<% if y_axis_label == "" %>
							display: false
						<% else %>
							display: true,
							labelString: '<%= y_axis_label %>'
						<% end %>	
						}
					}]
				}
			}
		};

	window.onload = function() {
		var ctx = document.getElementById('<%= canvas_id %>').getContext('2d');
		window.myLine = new Chart(ctx, config);
	};
  </script>     
</div>