<table class="table", id="form-show">
  <tbody>
    <tr>
      <td>ID</td>
      <td><%= @sport.id %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= @sport.name %></td>
    </tr>
    <tr>
      <td>Keyword Count</td>
      <td><%= @keywords.count(:all) %></td>
    </tr>
    <tr>
      <td>Program Count</td>
      <td><%= @programs.count %></td>
    </tr>
  </tbody>
</table>
<p id="form-actions">
  <%= render "shared/form_actions", locals: {actions: ["Edit","Delete"], edit_path: edit_sport_path(@sport), delete_path: @sport} %>  
</p>
