<% unless defined?(locals[:header]).nil? %>
<h4><%= locals[:header] %></h4>
<% end %>    
<div class="table-responsive small">
  <table class="table table-condensed table-stretched">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Black Flag</th>
        <th>Keyword Count</th>
        <th>Program Count</th>
        <th>Broadcast Event Count</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
  
    <tbody>
      <% @sports.each do |sport| %>
        <tr id="sport_<%= sport.id %>">
          <td><%= sport.id %></td>
          <td><%= link_to sport.name, sport %></td>
          <td>
          <% if sport.black_flag? %>
            <%= link_to set_black_flag_off_sport_path(sport), :method => :put do %>
              <i class="glyphicon glyphicon-star"></i>
            <% end %>
          <% else %>
            <%= link_to set_black_flag_on_sport_path(sport), :method => :put do %>
              <i class="glyphicon glyphicon-star-empty"></i>
            <% end %>
          <% end %>
          </td>
          <td><%= sport.keywords.count %></td>
          <td><%= sport.programs.count %></td>
          <td><%= sport.broadcast_events.count %></td>
          <td><%= render "shared/form_actions", locals: {actions: ["Edit"], edit_path: edit_sport_path(sport)} %></td>
          <td><%= render "shared/form_actions", locals: {actions: ["Delete"], delete_path: sport} %></td> 
        </tr>      
      <% end %>
    </tbody>
    
  </table>
</div>
