<h3>Sports</h3>
<%= bootstrap_flash %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Program Count</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @sports.each do |sport| %>
      <tr id="<%= sport.id %>">
        <td><%= link_to sport.name, sport %></td>
        <td><%= sport.programs.count %></td>
        <td>
          <%= link_to edit_sport_path(sport), :class => 'btn btn-info btn-xs' do %>
            <i class="glyphicon glyphicon-pencil"></i>
          <% end %>
          <%= link_to sport, data:{confirm: 'Are you sure?'}, method: :delete, :class => 'btn btn-danger btn-xs' do %>
            <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        </td>   
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to new_sport_path, :class => 'btn btn-mini btn-primary' do %>
    <i class="glyphicon glyphicon-plus"></i> New
<% end %></p>
