<%= form_for @program do |f| %>
  <table class="table">
      <tbody>
        <tr>
          <td><%= f.label :id %></td>
          <td><%= f.text_field :id, :disabled=>true %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :title %></td>
          <td><%= f.text_field :title, :placeholder=>"Title ..." %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :subtitle %></td>
          <td><%= f.text_field :subtitle, :placeholder=>"Subtitle ..." %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :category %></td>
          <td><%= f.text_field :category, :placeholder=>"Category ..." %></td>
          <td></td>
        </tr>
         <tr>
          <td><%= f.label :description %></td>
          <td><%= f.text_field :description, :placeholder=>"Description ..." %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :start_datetime %></td>
          <td><%= f.datetime_select :start_datetime %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :end_datetime %></td>
          <td><%= f.datetime_select :end_datetime %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :region_id %></td>
          <td><%= f.collection_select(:region_id, Region.all, :id, :name, {include_blank: true}) %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :channel_id %></td>
          <td><%= f.collection_select(:channel_id, Channel.all, :id, :name, {include_blank: true}) %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :sport_id %></td>
          <td><%= f.collection_select(:sport_id, Sport.all, :id, :name, {include_blank: true}) %></td>
          <td></td>
        </tr>
      </tbody>
  </table>
  <p>
    <%= render "shared/form_actions", locals: {actions: ["Submit","Cancel"], cancel_path: programs_path} %>
  </p>
<% end %>
 