<table class="table", id="form-show">
  <tbody>
    <tr>
      <td>ID</td>
      <td><%= @program.id %></td>
    </tr>
    <tr>
      <td>Title
      <%= link_to ("https://www.google.com/search?q=" + @program.title), :target => "_blank" do %>
            <i class="fa fa-search"></i> 
      <% end %>
      </td>
      <td><%= @program.title %>
       <%= link_to new_keyword_path(:value => @program.title), :target => "_blank" do %>
            <i class="fa fa-bookmark-o"></i> 
      <% end %>
      
      </td>
    </tr>
    <tr>
      <td>Subtitle
      <%= link_to ("https://www.google.com/search?q=" + @program.title + " " + @program.subtitle), :target => "_blank" do %>
            <i class="fa fa-search"></i> 
      <% end %>
      </td>
      <td><%= @program.subtitle %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= @program.description %></td>
    </tr>
    <tr>
      <td>Program Hash</td>
      <td><%= @program.program_hash %></td>
    </tr>
    <tr>
      <td>Category</td>
      <td><%= link_to(@program.category.name, @program.category) unless @program.category.nil? %></td>
    </tr>
    <tr>
      <td>Keyword</td>
      <td><%= link_to(@program.keyword.value, @program.keyword) unless @program.keyword.nil? %></td>
    </tr>
    <tr>
      <td>Region</td>
      <td><%= link_to(@program.region.name, @program.region) unless @program.region.nil? %></td>
    </tr>
    <tr>
      <td>Sport</td>
      <td><%= link_to(@program.sport.name, @program.sport) unless @program.sport.nil? %></td>
    </tr>
    <tr>
      <td>Channel</td>
      <td><%= link_to(@program.channel.name, @program.channel) unless @program.channel.nil? %></td>
    </tr>
    <tr>
      <td>Start Date Display</td>
      <td><%= @program.start_date_display %></td>
    </tr>
    <tr>
      <td>Start Date/Time</td>
      <td><%= @program.start_datetime %></td>
    </tr>
    <tr>
      <td>End Date/Time</td>
      <td><%= @program.end_datetime %></td>
    </tr>
    <tr>
      <td>Local Start Date Display</td>
      <td><%= @program.local_start_date_display %></td>
    </tr>
    <tr>
      <td>Local Start Date/Time</td>
      <td><%= @program.local_start_datetime %></td>
    </tr>
    <tr>
      <td>Local End Date/Time</td>
      <td><%= @program.local_end_datetime %></td>
    </tr>
    <tr>
      <td>Local Time Zone</td>
      <td><%= @program.local_time_zone %></td>
    </tr>
    
  </tbody>
</table>
<p id="form-actions">
  <%= render "shared/form_actions", locals: {actions: ["Edit","Delete"], edit_path: edit_program_path(@program), delete_path: @program} %>  
</p>
