<table class="table">
  <tbody>
    <tr>
      <td>ID</td>
      <td><%= @program.id %></td>
    </tr>
    <tr>
      <td>Title</td>
      <td><%= @program.title %></td>
    </tr>
    <tr>
      <td>Subtitle</td>
      <td><%= @program.subtitle %></td>
    </tr>
    <tr>
      <td>Category</td>
      <td><%= @program.category %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= @program.description %></td>
    </tr>
    <tr>
      <td>Program Hash</td>
      <td><%= @program.program_hash %></td>
    </tr>
    <tr>
      <td>Keyword</td>
      <td><%= @program.keyword.value unless @program.keyword.nil? %></td>
    </tr>
    <tr>
      <td>Region</td>
      <td><%= @program.region.name unless @program.region.nil? %></td>
    </tr>
    <tr>
      <td>Sport</td>
      <td><%= @program.sport.name unless @program.sport.nil? %></td>
    </tr>
    <tr>
      <td>Channel</td>
      <td><%= @program.channel.name unless @program.channel.nil? %></td>
    </tr>
    <tr>
      <td>Start Date Display</td>
      <td><%= @program.start_date_display %></td>
    </tr>
    <tr>
      <td>Start Date/Time</td>
      <td><%= @program.start_datetime %></td>
    </tr>
    <tr>
      <td>End Date/Time</td>
      <td><%= @program.end_datetime %></td>
    </tr>
    <tr>
      <td>Local Start Date Display</td>
      <td><%= @program.local_start_date_display %></td>
    </tr>
    <tr>
      <td>Local Start Date/Time</td>
      <td><%= @program.local_start_datetime %></td>
    </tr>
    <tr>
      <td>Local End Date/Time</td>
      <td><%= @program.local_end_datetime %></td>
    </tr>
    <tr>
      <td>Local Time Zone</td>
      <td><%= @program.local_time_zone %></td>
    </tr>
    
  </tbody>
</table>
<p>
  <%= render "shared/form_actions", locals: {actions: ["Edit","Delete"], edit_path: edit_program_path(@program), delete_path: @program} %>  
</p>
