<% if @program.errors.any? %>
  <div class="bs-callout bs-callout-danger" id="error_explanation">
  <h4><%= pluralize(@program.errors.count, "error") %> prohibited this article from being saved:</h4>
  <ul>
    <% @program.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
</div>
<% end %>
<%= form_for @program do |f| %>
  <table class="table">
      <tbody>
        <tr>
          <td><%= f.label :id %></td>
          <td><%= f.text_field :id, :disabled=>true %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :title %></td>
          <td><%= f.text_field :title, :placeholder=>"Program Title ..." %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :episode_title %></td>
          <td><%= f.text_field :episode_title, :placeholder=>"Episode Title ..." %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :duration %></td>
          <td><%= f.number_field :duration %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :black_flag %></td>
          <td><%= f.check_box :black_flag %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :keyword_id %></td>
          <td><%= f.collection_select(:keyword_id, Keyword.all, :id, :value, {include_blank: true}) %></td>
          <td></td>
        </tr>
      </tbody>
  </table>
  <p>
    <%= render "shared/form_actions", locals: {actions: ["Submit","Cancel"], cancel_path: programs_path} %>
  </p>
<% end %>
 