<table class="table", id="form-show">
  <tbody>
    <tr>
      <td>ID</td>
      <td><%= @program.id %></td>
    </tr>
    <tr>
      <td>Title</td>
      <td><%= @program.title %></td>
    </tr>
    <tr>
      <td>Episode Title</td>
      <td><%= @program.episode_title %></td>
    </tr>
    <tr>
      <td>Duration</td>
      <td><%= @program.duration %></td>
    </tr>
    <tr>
      <td>Black Flag</td>
      <td><%= @program.black_flag %></td>
    </tr>
    <tr>
      <td>Keyword</td>
      <td><%= link_to(@program.keyword.value, @program.keyword) unless @program.keyword.nil? %></td>
    </tr>
    <tr>
      <td>Created At</td>
      <td><%= @program.created_at %></td>
    </tr>
    <tr>
      <td>Updated At</td>
      <td><%= @program.updated_at %></td>
    </tr>
  </tbody>
</table>
<p id="form-actions">
  <%= render "shared/form_actions", locals: {actions: ["Edit","Delete"], edit_path: edit_program_path(@program), delete_path: @program} %>  
</p>
