<% unless defined?(locals[:header]).nil? %>
<h4><%= locals[:header] %></h4>
<% end %>    
<div class="table-responsive small">
  <table class="table table-condensed table-stretched">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Episode Title</th>
        <th>Duration</th>
        <th>Black Flag</th>
        <th>Keyword</th>
        <th>Broadcast Event Count</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
  
    <tbody>
      <% @programs.each do |program| %>
        <tr id="program_<%= program.id %>">
          <td><%= program.id %></td>
          <td><%= link_to program.title, program %></td>
          <td><%= program.episode_title %></td>
          <td><%= program.duration %></td>
          <td>
          <% if program.black_flag? %>
            <%= link_to set_black_flag_off_program_path(program), :method => :put do %>
              <i class="glyphicon glyphicon-star"></i>
            <% end %>
          <% else %>
            <%= link_to set_black_flag_on_program_path(program), :method => :put do %>
              <i class="glyphicon glyphicon-star-empty"></i>
            <% end %>
          <% end %>
          </td>
          <td><%= link_to(program.keyword.value, program.keyword) unless program.keyword.nil? %></td>
          <td><%= program.broadcast_events.count(:all) %></td>
          <td><%= render "shared/form_actions", locals: {actions: ["Edit"], edit_path: edit_program_path(program)} %></td>
          <td><%= render "shared/form_actions", locals: {actions: ["Delete"], delete_path: program} %></td> 
        </tr>      
      <% end %>
    </tbody>
    
  </table>
</div>
<%= will_paginate @programs, renderer: BootstrapPagination::Rails %>
