<%= will_paginate @programs, renderer: BootstrapPagination::Rails %>
<table class="table table-condensed">
  <thead>
    <tr>
      <% if locals[:field_list] %>
        <% locals[:field_list].each do |field_name| %>
        <th><%= field_name %></th>
        <% end %> 
      <% end %>
    </tr>    
  </thead>

  <tbody>
    <% @programs.each do |program| %>
      <tr>
      <% if locals[:field_list] %>
        <% locals[:field_list].each do |field_name| %>
          <% if field_name == "region" %>
            <td><%= program.region.name unless program.region.nil? %></td>
          <% elsif field_name == "sport" %>
            <td><%= program.sport.name unless program.sport.nil? %></td>
          <% elsif field_name == "channel" %>
            <td><%= program.channel.name unless program.channel.nil? %></td>
          <% else %>
            <td><%= program.read_attribute(field_name) %></td>
          <% end %>
        <% end %> 
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @programs, renderer: BootstrapPagination::Rails %>
