<% unless defined?(locals[:header]).nil? %>
<h4><%= locals[:header] %></h4>
<% end %>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Provider</th>
      <th>UID</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr id="user_<%= user.id %>">
        <td><%= user.id %></td>
        <td><%= link_to user.name, user %></td>
        <td><%= user.provider %></td>
        <td><%= user.uid %></td>
        <td><%= render "shared/form_actions", locals: {actions: ["Edit"], edit_path: edit_user_path(user)} %></td>
        <td><%= render "shared/form_actions", locals: {actions: ["Delete"], delete_path: user} %></td>    
      </tr>
    <% end %>
  </tbody>
</table>
