<ol class="breadcrumb">
  <li><%= link_to title, root_path %></li>
  <li><%= link_to "Programs", programs_path %></li>
  <li class="active">By Day</li>
</ol>
<%= bootstrap_flash %>
<h3>Programs
<%= link_to new_program_path, :class => 'btn btn-xs btn-primary' do %>
    <i class="glyphicon glyphicon-plus"></i> New
<% end %>
</h3>
<%= bootstrap_flash %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Day</th>
      <th>Count</th>
    </tr>    
  </thead>

  <tbody>
    <tr class="info">
        <td>Total</td>
        <td><%= Program.count %></td>
    </tr>
    <% @programs_by_day.each do |program_by_day| %>
      <tr>
        <td><%= link_to Date.parse(program_by_day[0]).strftime("%a %d %b %Y") , ("/programs-by-day/"+program_by_day[0]).html_safe %></td>
        <td><%= program_by_day[1] %></td>
      </tr>
    <% end %>
    <tr class="info">
        <td>Total</td>
        <td><%= Program.count %></td>
    </tr>
  </tbody>
</table>
