<%= will_paginate @conversion_summaries, renderer: BootstrapPagination::Rails %>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Start Date/Time</th>
      <th>End Date/Time</th>
      <th>Channels Created</th>
      <th>Programs Created</th>
      <th>Completed</th>
    </tr>
  </thead>

  <tbody>
    <% @conversion_summaries.each do |conversion_summary| %>
      <tr id="<%= conversion_summary.id %>">
        <td><%= link_to conversion_summary.id, conversion_summary %></td>
        <td><%= conversion_summary.start_datetime %></td>
        <td><%= conversion_summary.end_datetime %></td>
        <td><%= conversion_summary.channels_created %></td>
        <td><%= conversion_summary.programs_created %></td>
        <td>
        <% if conversion_summary.conversion_completed? %>
          <i class="glyphicon glyphicon-ok text-success"></i>
        <% else %>
          <i class="glyphicon glyphicon-remove text-danger"></i>
        <% end %>
        </td> 
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @conversion_summaries, renderer: BootstrapPagination::Rails %>