<% unless defined?(locals).nil? %>
<div class="breadcrumb">
  <div class="container">
    <ol class="breadcrumb">
      
      <% if locals[:level_0_name] %>
        <% if locals[:active_level] == 0 %>
        <li class="active">
        <% else %>
        <li>
        <% end %>  
        <% if locals[:level_0_name] == "Home Icon" %>
          <%= link_to locals[:level_0_link] do %>
            <i class="glyphicon glyphicon-home"></i>
          <% end %>
        <% end %>
        </li>
      <% end %>
    
      <% if locals[:level_1_name] %>
      <% if locals[:active_level] == 1 %>
        <li class="active">
      <% else %>
        <li>
      <% end %>  
        <% if locals[:level_1_link].nil? %>
          <%= locals[:level_1_name] %>
        <% else %>
          <%= link_to locals[:level_1_name], locals[:level_1_link] %>
        <% end %>
        </li>
      <% end %>
    
      <% if locals[:level_2_name] %>
      <% if locals[:active_level] == 2 %>
        <li class="active">
      <% else %>
        <li>
      <% end %>
        <% if locals[:level_2_link].nil? %>
          <%= locals[:level_2_name] %>
        <% else %>
          <%= link_to locals[:level_2_name], locals[:level_2_link] %>
        <% end %>
        </li>
      <% end %>

    </ol> <!-- /breadcrumb -->
  </div> <!-- /container -->
</div> <!-- /breadcrumb -->
<% else %>
<div class="container"><p></p></div>
<% end %>