<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  <a class="navbar-brand" href="<%= root_path %>"><%= website_plain_english_formatted_name %></a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Raw Guide Data<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= conversion_summaries_path %>">Conversion Summaries</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="<%= raw_channels_path %>">Raw Channels</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="<%= raw_programs_path %>">Raw Programs</a></li>
          </ul>
        </li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Views<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= regions_path %>">Regions</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="<%= sports_path %>">Sports</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="<%= channels_path %>">Channels</a></li>
            <li><a href="<%= channel_short_names_path %>">By Short Name</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="<%= programs_path %>">Programs</a></li>
            <li><a href="<%= program_categories_path %>">By Category</a></li>
            <li><a href="<%= program_days_path %>">By Day</a></li>
            <li><a href="<%= program_regions_sports_path %>">By Region And Sport</a></li>
            <li><a href="<%= program_regions_channels_path %>">By Region And Channel</a></li>
            <li><a href="<%= program_regions_days_path %>">By Region And Day</a></li>
            
            
          </ul>
        </li>
      </ul> <!-- /nav navbar-nav -->
    </div> <!-- /navbar-collapse collapse-->
  </div> <!-- /container -->
</div> <!-- /navbar -->