<div class="well sidebar-nav">
  <h3>Sidebar</h3>
  <ul class="nav nav-list">
  <% if current_user %>
    <li><p class="navbar-text">Signed in as <strong><%= current_user.name %>!</strong></p></li>
    <li><p><%= link_to "Sign out", signout_path %></p></li>
  <% else %>
    <li><p><%= link_to "Sign in with Twitter", signin_path %></p></li>
  <% end %>
  </ul>
</div><!--/.well -->
<% if current_user %>
  <%= debug current_user.inspect %>
  <pre class="debug_dump"><p>Current Time: <%= Time.new.utc %></p></pre>
  <%= debug params %>
<% end %>