<% if @migrator.errors.any? %>
  <div class="bs-callout bs-callout-danger" id="error_explanation">
  <h4><%= pluralize(@migrator.errors.count, "error") %> prohibited this article from being saved:</h4>
  <ul>
    <% @migrator.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
</div>
<% end %>
<%= form_for @migrator do |f| %>
  <table class="table">
      <tbody>
        <tr>
          <td><%= f.label :id %></td>
          <td><%= f.text_field :id, :disabled=>true %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :target_region_list %></td>
          <td><%= f.text_area :target_region_list %></td>
          <td></td>
        </tr>
      </tbody>
  </table>
  <p>
    <%= render "shared/form_actions", locals: {actions: ["Submit","Cancel"], cancel_path: migrators_path} %>
  </p>
<% end %>
 