<% unless defined?(locals[:header]).nil? %>
<h4><%= locals[:header] %></h4>
<% end %>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Target Region List</th>
      <th>Status</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @migrators.each do |migrator| %>
      <tr id="migrator_<%= migrator.id %>">
        <td><%= link_to migrator.id, migrator %></td>
        <td><%= migrator.target_region_list %></td>
        <td>
        <% if migrator.status == "Completed"  %>
          <i class="glyphicon glyphicon-ok text-success"></i>
        <% elsif migrator.status == "Started" %>
          <i class="glyphicon glyphicon-flash text-primary"></i>
        <% elsif migrator.status == "Error" %>
          <i class="glyphicon glyphicon-remove text-danger"></i>
        <% else %>
          <i class="glyphicon glyphicon-exclamation-sign text-warning"></i>
        <% end %>
        </td>
        <td><%= render "shared/form_actions", locals: {actions: ["Edit"], edit_path: edit_migrator_path(migrator)} %></td>
        <td><%= render "shared/form_actions", locals: {actions: ["Delete"], delete_path: migrator} %></td>    
      </tr>
    <% end %>
  </tbody>
</table>
