<%= render "shared/public_navbar" %>
<%= render "shared/home_header" %>
<div class="container">
   <%= render "shared/adsense_728_x_90" %>    
   <div class="row">         
      <%= render "shared/flash" %>  
      <div class="col-sm-12 col-md-2">   
      </div><!-- /col-md-2 -->
      <div class="col-sm-12 col-md-8 text-centre">
         <div class="row">
            <div class="col-sm-12 col-md-4">
              <div class="thumbnail">
                <img src="assets/city_of_adelaide_140x140.png" alt="Adelaide">
                <div class="caption">
                  <h3 class="text-center">Adelaide</h3>
               </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-4">
              <div class="thumbnail">
                <img src="assets/city_of_brisbane_140x140.png" alt="Brisbane">
                <div class="caption">
                  <h3 class="text-center">Brisbane</h3>
               </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-4">
              <div class="thumbnail">
                <img src="assets/city_of_melbourne_140x140.png" alt="Melbourne">
                <div class="caption">
                  <h3 class="text-center">Melbourne</h3>
               </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-4">
              <div class="thumbnail">
                <img src="assets/city_of_perth_140x140.png" alt="Perth">
                <div class="caption">
                  <h3 class="text-center">Perth</h3>
               </div>
              </div>
            </div>
         
            <div class="col-sm-12 col-md-4">
              <div class="thumbnail">
                <img src="assets/city_of_sydney_140x140.png" alt="Sydney">
                <div class="caption">
                  <h3 class="text-center">Sydney</h3>
               </div>
              </div>
            </div>
            
            <div class="col-sm-12 col-md-4">
              
            </div>
      
         </div><!-- /row -->
      </div><!-- /col-md-8 -->      
      <div class="col-sm-12 col-md-2">     
      </div><!-- /col-md-2 -->        
   </div><!-- /row -->
</div> <!-- /container -->
<%= render "shared/footer" %>
