<%= render "shared/navbar" %>
<%= render "shared/breadcrumb",
locals: {
   active_level: 1,
   level_0_name: "Home Icon",
   level_0_link: root_path,
   level_1_name: "Home Page",
   level_1_link: nil,
   level_2_name: nil,
   level_2_link: nil
   }
%>
<div class="container">
  <div class="row">
    <div class="col-lg-9">          
      <%= render "shared/flash" %>
      <%= render "shared/content_header", locals: {header: "Home Page"}  %>
      <p>The Home Page</p>
      <p>Link to <%= link_to "About", about_path %></p>
    </div><!-- /col-lg-9 -->
    <div class="col-lg-3">
      <%= render "shared/sidebar" %>
    </div><!-- /col-lg-3 -->
  </div><!-- /row -->
</div> <!-- /container -->
<%= render "shared/footer" %>
