<table class="table table-striped">
  <thead>
    <tr>
        <th>Channel</th>
        <% @regions.each do |region| %>
        <th><%= region.name %></th>
        <% end %>
        <th>Total</th>
    </tr>
  </thead>
  
  <tbody>
    <tr class="info">
        <td><strong>Total</strong></td>
        <% @regions.each do |region| %>
        <td><strong><%= Program.where(region_id: region.id).count %></strong></td>
        <% end %>
        <td><strong><%= Program.count %></strong></td>
    </tr>
    <% @channels.each do |channel| %>
    <tr>
        <td><%= channel.name %></td>
        <% @regions.each do |region| %>
        <td><%= Program.where(region_id: region.id, channel_id: channel.id).count %></td>
        <% end %>
        <td><%= Program.where(channel_id: channel.id).count %></td>
    </tr>
    <% end %>
    <tr class="info">
        <td><strong>Total</strong></td>
        <% @regions.each do |region| %>
        <td><strong><%= Program.where(region_id: region.id).count %></strong></td>
        <% end %>
        <td><strong><%= Program.count %></strong></td>
    </tr>
  </tbody>
</table>
