<table class="table", id="form-show">
  <tbody>
    <tr>
      <td>ID</td>
      <td><%= @raw_program.id %></td>
    </tr>
    <tr>
      <td>Program Hash</td>
      <td><%= @raw_program.program_hash %></td>
    </tr>
    <tr>
      <td>Channel Tag</td>
      <td><%= @raw_program.channel_tag %></td>
    </tr>
    <tr>
      <td>Region Name</td>
      <td><%= @raw_program.region_name %></td>
    </tr>
    <tr>
      <td>Region Lookup</td>
      <td><%= @raw_program.region_lookup %></td>
    </tr>
    <tr>
      <td>Placeholder</td>
      <td><%= @raw_program.placeholder %></td>
    </tr>
    <tr>
      <td>Title</td>
      <td><%= @raw_program.title %></td>
    </tr>
    <tr>
      <td>Event Lookup</td>
      <td><%= @raw_program.event_lookup %></td>
    </tr>
  </tbody>
</table>
