<%= will_paginate @raw_programs, renderer: BootstrapPagination::Rails %>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Category</th>
      <th>Start Date/Time</th>
      <th>End Date/Time</th>
      <th>Region Name</th>
      <th>Channel XMLTVID</th>
    </tr>    
  </thead>

  <tbody>
    <% @raw_programs.each do |raw_program| %>
      <tr id="raw_program_<%= raw_program.id %>">
        <td><%= raw_program.id %></td>
        <td><%= link_to raw_program.title, raw_program %></td>
        <td><%= raw_program.subtitle %></td>
        <td><%= raw_program.category %></td>
        <td><%= raw_program.start_datetime %></td>
        <td><%= raw_program.end_datetime %></td>
        <td><%= raw_program.region_name %></td>
        <td><%= raw_program.channel_xmltv_id %></td>  
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @raw_programs, renderer: BootstrapPagination::Rails %>
