<% unless defined?(locals[:header]).nil? %>
<h4><%= locals[:header] %></h4>
<% end %>
<div class="table-responsive small">
  <table class="table table-condensed table-stretched">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Category</th>
        <th>Start Date/Time</th>
        <th>End Date/Time</th>
        <th>Region Name</th>
        <th>Channel Name</th>
        <th>Channel Free Or Pay</th>
      </tr>    
    </thead>
  
    <tbody>
      <% @raw_programs.each do |raw_program| %>
        <tr id="raw_program_<%= raw_program.id %>">
          <td><%= link_to raw_program.id, raw_program %></td>
          <td><%= raw_program.title %></td>
          <td><%= raw_program.subtitle %></td>
          <td><%= raw_program.category %></td>
          <td><%= raw_program.start_datetime %></td>
          <td><%= raw_program.end_datetime %></td>
          <td><%= raw_program.region_name %></td>
          <td><%= raw_program.channel_name %></td>
          <td><%= raw_program.channel_free_or_pay %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @raw_programs, renderer: BootstrapPagination::Rails %>