<% unless defined?(locals[:header]).nil? %>
<h4><%= locals[:header] %></h4>
<% end %>
<div class="table-responsive small">
  <table class="table table-condensed table-stretched">
    <thead>
      <tr>
        <th>#</th>
        <th>Tag</th>
        <th>Region Name</th>
        <th>Region Lookup</th>
        <th>Channel Tag</th>
        <th>Placeholder</th>
        <th>Title</th>
        <th>Event Lookup</th>     
      </tr>    
    </thead>
  
    <tbody>
      <% @raw_programs.each do |raw_program| %>
        <tr id="raw_program_<%= raw_program.id %>">
          <td><%= link_to raw_program.id, raw_program %></td>
          <td><%= raw_program.channel_tag %></td>
          <td><%= raw_program.region_name %></td>
          <td><%= raw_program.region_lookup %></td>
          <td><%= raw_program.channel_tag %></td>
          <td><%= raw_program.placeholder %></td>
          <td><%= raw_program.title %></td>
          <td><%= raw_program.event_lookup %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @raw_programs, renderer: BootstrapPagination::Rails %>