<p id="notice"><%= notice %></p>

<h3>Listing Raw Programs</h3>

<%= will_paginate @raw_programs, renderer: BootstrapPagination::Rails %>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Category</th>
      <th>Description</th>
      <th>Start Date/Time</th>
      <th>End Date/Time</th>
      <th>Region Name</th>
      <th>Channel XMLTVID</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @raw_programs.each do |raw_program| %>
      <tr id="<%= raw_program.id %>">
        <td><%= link_to raw_program.title, raw_program %></td>
        <td><%= raw_program.subtitle %></td>
        <td><%= raw_program.category %></td>
        <td><%= raw_program.description %></td>
        <td><%= raw_program.start_datetime %></td>
        <td><%= raw_program.end_datetime %></td>
        <td><%= raw_program.region_name %></td>
        <td><%= raw_program.channel_xmltv_id %></td>
        <td>
          <%= link_to 'Edit', edit_raw_program_path(raw_program), :class => 'btn btn-info btn-xs' %>
          <%= link_to 'Destroy', raw_program, data:{confirm: 'Are you sure?'}, method: :delete, :class => 'btn btn-danger btn-xs' %>
        </td>   
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @raw_programs, renderer: BootstrapPagination::Rails %>

<br>

<%= link_to 'New Raw Program', new_raw_program_path %>
