<%= render "shared/navbar" %>
<%= render "shared/breadcrumb",
locals: {
   active_level: 2,
   level_0_name: "Home Icon",
   level_0_link: root_path,
   level_1_name: "Raw Programs",
   level_1_link: raw_programs_path,
   level_2_name: "# " + @raw_program.id.to_s,
   level_2_link: nil
   }
%>
<div class="container">
  <div class="row">
    <div class="col-lg-12">          
      <%= render "shared/flash" %>
      <%= render "shared/content_header", locals: {header: "Raw Program"}  %>
      <%= render "form_show" %> 
    </div><!-- /col-lg-12 -->
  </div><!-- /row -->
</div> <!-- /container -->
<%= render "shared/footer" %>
