<table class="table", id="form-show">
  <tbody>
    <tr>
      <td>ID</td>
      <td><%= @keyword.id %></td>
    </tr>
    <tr>
      <td>Value</td>
      <td><%= @keyword.value %></td>
    </tr>
    <tr>
      <td>Priority</td>
      <td><%= @keyword.priority %></td>
    </tr>
    <tr>
      <td>Black Flag</td>
      <td><%= @keyword.black_flag %></td>
    </tr>
    <tr>
      <td>Sport</td>
      <td><%= @keyword.sport.name unless @keyword.sport.nil? %></td>
    </tr>
    <tr>
      <td>Created At</td>
      <td><%= @keyword.created_at %></td>
    </tr>
    <tr>
      <td>Updated At</td>
      <td><%= @keyword.updated_at %></td>
    </tr>

  </tbody>
</table>
<p id="form-actions">
  <%= render "shared/form_actions", locals: {actions: ["Edit","Delete"], edit_path: edit_keyword_path(@keyword), delete_path: @keyword} %>  
</p>
