<% unless defined?(locals[:header]).nil? %>
<h4><%= locals[:header] %></h4>
<% end %>
<div class="table-responsive small">
  <table class="table table-condensed table-stretched">
    <thead>
      <tr>
        <th>#</th>
        <th>Value</th>
        <th>Sport</th>
        <th>Priority</th>
        <th>Black Flag</th>
        <th>Program Count</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
  
    <tbody>
      <% @keywords.each do |keyword| %>
        <tr id="keyword_<%= keyword.id %>">
          <td><%= keyword.id %></td>
          <td><%= link_to keyword.value, keyword %></td>
          <td><%= keyword.sport.name unless keyword.sport.nil? %></td>
          <td><%= keyword.priority %></td>
          <td>
          <% if keyword.black_flag? %>
            <%= link_to set_black_flag_off_keyword_path(keyword), :method => :put do %>
              <i class="fa fa-circle"></i> 
            <% end %>
          <% else %>
            <%= link_to set_black_flag_on_keyword_path(keyword), :method => :put do %>
              <i class="fa fa-circle-o"></i> 
            <% end %>
          <% end %>
          </td>
          <td><%= keyword.programs.count %></td>
          <td><%= render "shared/form_actions", locals: {actions: ["Edit"], edit_path: edit_keyword_path(keyword)} %></td>
          <td><%= render "shared/form_actions", locals: {actions: ["Delete"], delete_path: keyword} %></td> 
        </tr>      
      <% end %>
      <tr class="info">
        <td></td>
        <td><strong>Total</strong></td>
        <td></td>
        <td></td>
        <td><strong><%= Program.count %></strong></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>