<% unless defined?(locals[:header]).nil? %>
<h4><%= locals[:header] %></h4>
<% end %>
<div class="table-responsive small">
  <table class="table table-condensed table-stretched">
    <thead>
      <tr>
        <th>#</th>
        <th>Value</th>
        <th>Sport</th>
        <th>Priority</th>
        <th>Black Flag</th>
        <th>Matched Programs</th>
        <th>Mismatched Programs</th>
        <th>Nil Programs</th>
        <th>Total Programs</th>
        <th>Broadcast Event Count</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
  
    <tbody>
      <% @keywords.each do |keyword| %>
      <tr id="keyword_<%= keyword.id %>">
          <td><%= keyword.id %></td>
          <td><%= link_to keyword.value, keyword %></td>
          <td><%= keyword.sport.name unless keyword.sport.nil? %></td>
          <td><%= keyword.priority %></td>
          <td>
          <% if keyword.black_flag? %>
            <%= link_to set_black_flag_off_keyword_path(keyword), :method => :put do %>
              <i class="glyphicon glyphicon-star"></i>
            <% end %>
          <% else %>
            <%= link_to set_black_flag_on_keyword_path(keyword), :method => :put do %>
              <i class="glyphicon glyphicon-star-empty"></i>
            <% end %>
          <% end %>
          </td>
          <% if keyword.sport.name == "Non Sport" %>
            <td><%= keyword.programs.where(sport_prediction: "Non Sport").count %></td>
            <td><%= keyword.programs.where(sport_prediction: "Sport").count %></td>
            <td><%= keyword.programs.where(sport_prediction: nil).count %></td>
          <% else %>
            <td><%= keyword.programs.where(sport_prediction: "Sport").count %></td>
            <td><%= keyword.programs.where(sport_prediction: "Non Sport").count %></td>
            <td><%= keyword.programs.where(sport_prediction: nil).count %></td>
          <% end %>
          <td><%= keyword.programs.count %></td>
          <td><%= keyword.broadcast_events.count %></td>
          <td><%= render "shared/form_actions", locals: {actions: ["Edit"], edit_path: edit_keyword_path(keyword)} %></td>
          <td><%= render "shared/form_actions", locals: {actions: ["Delete"], delete_path: keyword} %></td> 
      </tr>      
      <% end %>
    </tbody>
    
  </table>
</div>