<% unless defined?(locals[:header]).nil? %>
<h4><%= locals[:header] %></h4>
<% end %>
<div class="table-responsive small">
  <table class="table table-condensed table-stretched">
    <thead>
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Full Title</th>
        <th>Region</th>
        <th>Channel</th>
        <th>Provider</th>
        <th>Broadcast Event Count</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
  
    <tbody>


      <% @providers.each do |provider| %>
          <tr>
            <td class="info" colspan=9><strong><%= link_to provider.name, provider %></strong></td>
          </tr>
        <% provider.broadcast_services.group_by(&:region_id).sort.each do |region_id, broadcast_services_by_region| %>
          <tr>
            <td class="success" colspan=9><strong><%= link_to Region.find(region_id).name, ("/broadcast-services-by-provider-and-region/"+provider.name.parameterize+"/"+Region.find(region_id).name.parameterize).html_safe %></strong></td>
          </tr>
          <% broadcast_services_by_region.each do |broadcast_service| %>
          <tr>
            <td class="vert-align"><%= link_to broadcast_service.id, broadcast_service %></td>
            <td class="vert-align"><%= image_tag("/images/channels/" + broadcast_service.channel.tag + "_65x30.png", size: "65x30", alt: "channel " + broadcast_service.channel.name + " image") %></td>
            <td class="vert-align"><%= broadcast_service.formatted_full_title %></td>
            <td class="vert-align"><%= broadcast_service.region.name unless broadcast_service.region.nil? %></td>
            <td class="vert-align"><%= broadcast_service.channel.name unless broadcast_service.channel.nil? %></td>
            <td class="vert-align"><%= broadcast_service.channel.provider.name unless broadcast_service.channel.provider.nil? %></td>
            <td class="vert-align"><%= broadcast_service.broadcast_events.count(:all) %></td>
            <td class="vert-align"><%= render "shared/form_actions", locals: {actions: ["Edit"], edit_path: edit_broadcast_service_path(broadcast_service)} %></td>
            <td class="vert-align"><%= render "shared/form_actions", locals: {actions: ["Delete"], delete_path: broadcast_service} %></td> 
          </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
