<table class="table", id="form-show">
  <tbody>
    <tr>
      <td>ID</td>
      <td><%= @raw_channel.id %></td>
    </tr>
    <tr>
      <td>Channel Name</td>
      <td><%= @raw_channel.channel_name %></td>
    </tr>
    <tr>
      <td>Channel Hash</td>
      <td><%= @raw_channel.channel_hash %></td>
    </tr>
    <tr>
      <td>Subtitle</td>
      <td><%= @raw_channel.channel_tag %></td>
    </tr>
    <tr>
      <td>Category</td>
      <td><%= @raw_channel.region_name %></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><%= @raw_channel.region_lookup %></td>
    </tr>
  </tbody>
</table>
