<% unless defined?(locals[:header]).nil? %>
<h4><%= locals[:header] %></h4>
<% end %>    
<table class="table table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Channel Name</th>
      <th>XMLTV ID</th>
    </tr>
  </thead>

  <tbody>
    <% @raw_channels.each do |raw_channel| %>
      <tr id="raw_channel_<%= raw_channel.id %>">
        <td><%= raw_channel.id %></td>
        <td><%= link_to raw_channel.channel_name, raw_channel %></td>
        <td><%= raw_channel.xmltv_id %></td>    
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @raw_channels, renderer: BootstrapPagination::Rails %>