<table class="table">
  <tbody>
    <tr>
      <td>ID</td>
      <td><%= @category.id %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= @category.name %></td>
    </tr>
    <tr>
      <td>Black Flag</td>
      <td><%= @category.black_flag %></td>
    </tr>
    <tr>
      <td>Program Count</td>
      <td><%= @category.programs.count %></td>
    </tr>
  </tbody>
</table>
<p>
  <%= render "shared/form_actions", locals: {actions: ["Edit","Delete"], edit_path: edit_category_path(@category), delete_path: @category} %>  
</p>
