<%= form_for @region do |f| %>
  <table class="table">
      <tbody>
        <tr>
          <td><%= f.label :id %></td>
          <td><%= f.text_field :id, :disabled=>true %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :name %></td>
          <td><%= f.text_field :name, :placeholder=>"Region Name ..." %></td>
          <td></td>
        </tr>
      </tbody>
  </table>
  <p>
    <%= render "shared/form_actions", locals: {actions: ["Submit","Cancel"], cancel_path: regions_path} %>
  </p>
<% end %>
 