<% unless defined?(locals[:header]).nil? %>
<h4><%= locals[:header] %></h4>
<% end %>

<%= render "chart_of_events_over_time_by_region", locals: {chart_name: "Broadcast Events Over Time By Day And Region", canvas_id: "broadcast-events-over-time-by-day-and-region", data_labels: @daily_data_labels, data_series_names: @daily_data_series_names, data_series: @daily_data_series} %>

<div class="table-responsive small">
  <table class="table table-condensed table-stretched">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Time Zone Name</th>
        <th>Time In Time Zone</th>
        <th>Black Flag</th>
        <th>Broadcast Services</th>
        <th>Broadcast Events</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
  
    <tbody>
      <% @regions.each do |region| %>
        <tr id="region_<%= region.id %>">
          <td><%= region.id %></td>
          <td><%= link_to region.name, region %></td>
          <td><%= region.time_zone_name %></td>
          <td><%= Time.now.in_time_zone(region.time_zone_name) %></td>
          <td>
          <% if region.black_flag? %>
            <%= link_to set_black_flag_off_region_path(region), :method => :put do %>
              <i class="glyphicon glyphicon-star"></i>
            <% end %>
          <% else %>
            <%= link_to set_black_flag_on_region_path(region), :method => :put do %>
              <i class="glyphicon glyphicon-star-empty"></i>
            <% end %>
          <% end %>
          </td>
          <td><%= region.broadcast_services.count %></td>
          <td><%= region.broadcast_events.count %></td>
          <td><%= render "shared/form_actions", locals: {actions: ["Edit"], edit_path: edit_region_path(region)} %></td>
          <td><%= render "shared/form_actions", locals: {actions: ["Delete"], delete_path: region} %></td> 
        </tr>      
      <% end %>
    </tbody>
    
  </table>
</div>
