<% unless defined?(locals[:header]).nil? %>
<h4><%= locals[:header] %></h4>
<% end %>

<div class="chart-container">
  <canvas id="chart" width="200" height="100"></canvas>
  <script>
        var ctx = document.getElementById("chart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
  </script>     
</div>

<div class="table-responsive small">
  <table class="table table-condensed table-stretched">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Time Zone Name</th>
        <th>Time In Time Zone</th>
        <th>Black Flag</th>
        <th>Lookup</th>
        <th>Broadcast Services</th>
        <th>Broadcast Events</th>
        <th>Earliest</th>
        <th>Latest</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
  
    <tbody>
      <% @regions.each do |region| %>
        <tr id="region_<%= region.id %>">
          <td><%= region.id %></td>
          <td><%= link_to region.name, region %></td>
          <td><%= region.time_zone_name %></td>
          <td><%= Time.now.in_time_zone(region.time_zone_name) %></td>
          <td>
          <% if region.black_flag? %>
            <%= link_to set_black_flag_off_region_path(region), :method => :put do %>
              <i class="glyphicon glyphicon-star"></i>
            <% end %>
          <% else %>
            <%= link_to set_black_flag_on_region_path(region), :method => :put do %>
              <i class="glyphicon glyphicon-star-empty"></i>
            <% end %>
          <% end %>
          </td>
          <td><%= region.region_lookup %></td>
          <td><%= region.broadcast_services.count %></td>
          <td><%= region.broadcast_events.count %></td>
          <td><%= region.earliest_broadcast_event_date %></td>
          <td><%= region.latest_broadcast_event_date %></td>
          <td><%= render "shared/form_actions", locals: {actions: ["Edit"], edit_path: edit_region_path(region)} %></td>
          <td><%= render "shared/form_actions", locals: {actions: ["Delete"], delete_path: region} %></td> 
        </tr>      
      <% end %>
    </tbody>
    
  </table>
</div>
