<%= render "shared/breadcrumb",
locals: {
   active_level: 2,
   level_0_name: "Home Icon",
   level_0_link: root_path,
   level_1_name: "Regions",
   level_1_link: regions_path,
   level_2_name: @region.name,
   level_2_link: nil
   }
%>
<div class="container">
  <div class="row">
    <div class="col-lg-12">          
      <%= render "shared/flash" %>
      <%= render "shared/content_header", locals: {header: "Region"}  %>
      <%= render "form_show" %>
      <%= render "channels/table_index", locals: {header: "Listing Channels"} %>
    </div><!-- /col-lg-12 -->
  </div><!-- /row -->
</div> <!-- /container -->
