<% @start_dates.each do |start_date| %>
 <div class="panel panel-primary">
   <div class="panel-heading stv-panel-primary"><strong><%= start_date.to_time.strftime("%A, %e %b %y")%></strong></div>
     <table class="table table-condensed table-hover">
        <colgroup>
           <col class="col_sport">
         </colgroup>
         <tbody>
           <% last_program = nil %>
           <% @programs.where(local_start_date_display: start_date).each do |program| %>
            <% if program.current? %>
              <% if last_program.nil? %>
              <tr id="program_<%= program.id %>"></tr>
                <td class="mobile-program">
                 <h5 class="no-bottom-margin"><%= program.full_title %></h5>
                 <p class="small no-bottom-margin"><%= program.local_start_datetime.strftime("%H:%M") %> to <%= program.local_end_datetime.strftime("%H:%M") %></p>
                 <p class="small text-primary"><%= program.channel.name %> 
              <% elsif !(program.sport.name == last_program.sport.name && program.channel.short_name == last_program.channel.short_name && program.start_datetime == last_program.start_datetime && program.end_datetime == last_program.end_datetime) %>
                 </p>
                </td>
              </tr>
              <tr id="program_<%= program.id %>"></tr>
                <td class="mobile-program">
                 <h5 class="no-bottom-margin"><%= program.full_title %></h5>
                 <p class="small no-bottom-margin"><%= program.local_start_datetime.strftime("%H:%M") %> to <%= program.local_end_datetime.strftime("%H:%M") %></p>
                 <p class="small text-primary"><%= program.channel.name %> 
              <% else %>
                  <%= ", " %><%= program.channel.name %>  
              <% end %>
              <% last_program = program %>
             <% end %>
           <% end %>
                </p>
               </td>
             </tr>
         </tbody>
       </table>
   </div>
 <% end %>    
