<% @start_dates.each do |start_date| %>
 <div class="panel panel-primary">
   <div class="panel-heading stv-panel-primary"><strong><%= start_date.to_time.strftime("%A, %e %b %y")%></strong></div>
     <div class="table-responsive">
       <table class="table table-condensed table-hover">
        <colgroup>
           <col class="col_time">
           <col class="col_title">
           <col class="col_sport">
           <col class="col_channel">
         </colgroup>
         <thead>
           <tr class="stv-table-heading-primary">
               <th>Time</th>
               <th>Title</th>
               <th>Sport</th>
               <th>Channel</th>   
           </tr>
         </thead>
         <tbody class="small">
           <% last_program = nil %>
           <% @programs.where(local_start_date_display: start_date).each do |program| %>
            <% if program.current? %>
             <% if last_program.nil? %>
             <tr id="program_<%= program.id %>"></tr>
               <td><%= program.local_start_datetime.strftime("%H:%M") %></td>
               <td><%= link_to program.full_title, program %></td>
               <td><%= program.sport.name %></td>
               <td>
                 <%= program.channel.name %> (<%= program.local_start_datetime.strftime("%H:%M") %> to <%= program.local_end_datetime.strftime("%H:%M") %>)    
             <% elsif !(program.sport.name == last_program.sport.name && program.channel.short_name == last_program.channel.short_name && program.start_datetime == last_program.start_datetime && program.end_datetime == last_program.end_datetime) %>
               </td>
             </tr>
             <tr id="program_<%= program.id %>"></tr>
               <td><%= program.local_start_datetime.strftime("%H:%M") %></td>
               <td><%= link_to program.full_title, program %></td>
               <td><%= program.sport.name %></td>
               <td>
                 <%= program.channel.name %> (<%= program.local_start_datetime.strftime("%H:%M") %> to <%= program.local_end_datetime.strftime("%H:%M") %>)    
             <% else %>
                 <br><%= program.channel.name %> (<%= program.local_start_datetime.strftime("%H:%M") %> to <%= program.local_end_datetime.strftime("%H:%M") %>) 
             <% end %>
             <% last_program = program %>
            <% end %>
           <% end %>
               </td>
             </tr>
         </tbody>
       </table>
     </div>
   </div>
 <% end %>    
