<% unless defined?(locals[:header]).nil? %>
<h4><%= locals[:header] %></h4>
<% end %>
<div class="table-responsive">
  <table class="table table-condensed table-stretched">
    <thead>
      <tr>
          <th>Guides</th>
          <% @regions.each do |region| %>
          <th><%= link_to region.name, ("/guides/"+region.friendly_id) %></th>
          <% end %>
          <th>Total</th>
      </tr>
    </thead>
    
    <tbody>
      <% @start_dates.each do |start_date| %>
      <tr>
          <td><%= start_date.to_s %></td>
          <% @regions.each do |region| %>
          <td><%= Program.where(region_id: region.id, local_start_date_display: start_date).count %></td>
          <% end %>
          <td><%= Program.where(local_start_date_display: start_date).count %></td>
      </tr>
      <% end %>
      <tr class="info">
          <td><strong>Total</strong></td>
          <% @regions.each do |region| %>
          <td><strong><%= Program.where(region_id: region.id).count %></strong></td>
          <% end %>
          <td><strong><%= Program.count %></strong></td>
      </tr>
    </tbody>
  </table>
  </div>
