<%= render "shared/public_navbar" %>
<div class="container">
  <%= render "shared/adsense_728_x_90" %>
  <div class="row">
    <div class="col-sm-12 col-md-2"></div>
    <div class="col-sm-12 col-md-8">          
      <%= render "shared/flash" %>
      <%= render "shared/guide_form_control" %>
      <%= render "form_show" %>  
    </div><!-- /col-md-8 -->
    <div class="col-sm-12 col-md-2"></div>
  </div><!-- /row -->
</div> <!-- /container -->
<%= render "shared/footer" %>
