<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "shared/head/head_meta_tags" %>
    <%= render "shared/head/head_icons" %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= render "shared/google_analytics" %>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
